name: Release

on:
  push:
    branches:
      - ci/release-auth-helpers

permissions:
  contents: read

jobs:
  final_auth_helpers:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - run: npm install -g npm@latest
      - name: Build and publish final auth-helpers version
        run: |
          set -ex

          FINAL_VERSION="0.15.0"

          echo "export const VERSION = '$FINAL_VERSION';" > src/version.ts

          npm ci
          npm run build

          sed -i 's|"version": "0.0.0"|"version": "'"$FINAL_VERSION"'"|g' package.json
          sed -i 's|"version": "0.0.0"|"version": "'"$FINAL_VERSION"'"|g' package-lock.json

          # Publish as @supabase/auth-helpers-nextjs
          sed -i 's|"name": "@supabase/ssr"|"name": "@supabase/auth-helpers-nextjs"|g' package.json
          npm publish --provenance --tag latest

          # Publish as @supabase/auth-helpers-react
          sed -i 's|"name": "@supabase/auth-helpers-nextjs"|"name": "@supabase/auth-helpers-react"|g' package.json
          npm publish --provenance --tag latest

          # Publish as @supabase/auth-helpers-remix
          sed -i 's|"name": "@supabase/auth-helpers-react"|"name": "@supabase/auth-helpers-remix"|g' package.json
          npm publish --provenance --tag latest

          # Publish as @supabase/auth-helpers-sveltekit
          sed -i 's|"name": "@supabase/auth-helpers-remix"|"name": "@supabase/auth-helpers-sveltekit"|g' package.json
          npm publish --provenance --tag latest
